h1 {
	color:red; 
	background-color: black;
	}
	
.test {
	background-color:red;
}


table {
		font-size: 20px;
		background-color: yellow;
}

.main-class
			{
			text-align: center;
			color:black;
			font-size:30px;
			background-color:#7FFFD4;
}


.number{
		color:white;
}


#first{
	color:white;
}
	
